<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
       <h1 style="text-align: center;" > Welcome to home</h1>
          <form action="/logout" method="post">
            <button class="submit-btn" style="background-color: red;" type="submit">Cerrar sesión</button>
         </form>
        
</body>
</html>